.App {
  max-width: 1400px;
  margin: auto;
  padding: 1.2rem;
  text-align: center;
}
.carousel{
  padding: 11px;
}
.custom-right-arrow {
  position: absolute ;
  right: 1px;
  border: 1px solid grey;
  border-width: 0 2px 2px 0;
  padding: 5px;
  opacity: 0.8;
  cursor: pointer;
  transform: rotate(-45deg);
}
.custom-right-arrow:hover {
  opacity: 1;
}
.custom-left-arrow {
  position: absolute  ;
  left: 2px;
  border: 1px solid grey;
  border-width: 0 2px 2px 0;
  padding: 5px;
  opacity: 0.8;
  cursor: pointer;
  transform: rotate(135deg);
}
.custom-left-arrow {
  opacity: 1;
}
h1 {
  font-size: 25px;
  margin-bottom: 20px;
}
